{% extends "feed/basenomi.html" %}
{% load static %}

    
{% block title %}Mario Website and Shit?{% endblock %}

{% block content %}


<div style="height: 1000px">
    <div class="container-fluid">
        <br>
        <div class="row">
                <div class="col-md-8 col-md-offset-3" id="verse" > 
                    <div>
                        <h1>Nomis Idea for Main page</h1>
                        <p class="thor2"><strong>I am a strawberry</strong></p>
                        <p class="thor2"><strong>i am not a strawberry</strong></p>
                        <p>AND HOW?!</p>
                    </div> 
                </div>
            </div>

</div>
</div>

{% endblock %}   
   